/* Style général du corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

/* Conteneur principal */
.container {
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 600px;
    width: 90%;

}



/* Style de base des boutons */
button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 12px;


}



/* Mode sombre appliqué au body */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* Conteneur en mode sombre */
.dark-mode .container {
    background-color: #000000;

}

/*video*/

video,
source {

    border-radius: 13px;
    width: 70%;
}